* {
    margin: 0;
    padding: 0;
}

body,
html {
    margin: 0px;
    height: 100%;
}

div,
p,
h1 {
    overflow-wrap: break-word;
}

img {
    max-width: 100%;
    height: auto;
}

li {
    margin-left: 25px;
}

ol {
    list-style-position: inside;
}

.page {
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    display: flex;
    background-color: rgb(130, 108, 108);
    margin: 0px;
    padding: 25px;
    justify-content: space-between;
}

.titleText {
    background-color: aquamarine;
    padding: 3px;
    text-align: end;
    width: 500px;
}

.mainBody {
    display: flex;
    /*height: 100%;*/
    flex: 1;
}

.navigation {
    background-color: rgb(255, 212, 212);
    flex: 1;
}

.navigation ul {
    margin: 15px;
}

.mainContent {
    flex: 3;
    display: flex;
    flex-direction: column;
}

.breakingPost {
    background-color: rgb(208, 208, 221);
}

.content {
    display: flex;
    height: 100%;
}

.article {
    flex: 2;
    padding: 5px;
}

.helperContent {
    flex: 1;
    background-color: rgb(245, 201, 201);
    padding: 5px;
}

footer {
    display: flex;
    background-color: rgb(130, 108, 108);
    margin: 0px;
    padding: 25px;
    justify-content: space-between;
}

footer .motto {
    background-color: chocolate;
    text-align: end;
    width: 500px;
}